<h1>I am the sign up page</h1>

<div class="row">
  <% if(messages.danger){ %>
    <div class="col s12 l12">
      <div class="card blue lighten-4">
        <div class="card-content blue-text">
          <span class="card-title"><%= messages.danger %></span>
        </div>
      </div>
    </div>
  <% } %>
<form method="POST" action="/signup">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
  </div>
  <div>
    <label for="passwordConfirmation">Password Confirmation</label>
    <input type="password" name="passwordConfirmation" id="passwordConfirmation">
  </div>
  <button class="button">Sign Up</button>
</form>
