<nav class="nav-extended teal accent-3">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><i class="fas fa-child"></i><i class="fas fa-utensils"></i>Family Eats</a>
    <%# <h6 class="motto">- find you family friendly meal!</h6> %>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if(locals.isAuthenticated){ %>
        <li><a href="/logout">Logout (Signed in as <%= locals.currentUser.username %>)</a></li>
        <% } else { %>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/login">Log In</a></li>
        <% } %>
      <li><a href="/">Home</a></li>
    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a href="/restaurants">Restaurants</a></li>
      <li class="tab"><a href="/restaurants/new">Add a Restaurant</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <% if(locals.isAuthenticated){ %>
    <li><a href="/logout">Logout (Signed in as <%= locals.currentUser.username %>)</a></li>
    <% } else { %>
  <li><a href="/signup">Sign Up</a></li>
  <li><a href="/login">Log In</a></li>
    <% } %>
  <li><a href="/restaurants">Restaurants</a></li>
  <li><a href="/restaurants/new">Add a Restaurant</a></li>

</ul>
