<div class="landing">

  <div class="row">
    <div class="col l12 m6">
      <div class="card aboutContact teal accent-3 z-depth-3">
        <div class="card-content white-text">
          <span class="card-title">About</span>
          <h5>Family Eats is designed to help you make a better choice on where to eat when you have children in tow.</h5>
          </div>
        </div>
      </div>
    </div>
</div>
