<div class="landing">
  <div class="row">
    <div class="col l12 m6">
      <div class="card aboutContact teal accent-3 z-depth-3">
        <div class="card-content white-text">
          <span class="card-title">Contact</span>
          <h5>Drop us an email with suggestions or tips or visit our other sites</h5>
          </div>
          <div class="card-action">
            <a class="white-text" href="mailto:petmabennett@gmail.com">Email</a>
            <a class="white-text" href="www.twitter.com/petemab">Twitter</a>
            <a class="white-text" href="https://github.com/Petemab">Github</a>
          </div>
        </div>
      </div>
    </div>
</div>
