<%# <div class="landing"> %>
  <div class="container welcome-page">
    <h1><i class="fas fa-child"></i><i class="fas fa-utensils"></i>Family Eats</h1>
    <h5 class="welcome-motto">Find your family friendly meal!</h5>
  </div>




    <div class="row">
      <div class="col l12 m6">
        <div class="card teal accent-3 z-depth-3">
          <div class="card-content white-text">
            <span class="card-title">Welcome!</span>
            <h5>Thanks for visiting Family Eats, your only resource for finding family friendly eateries near you.
               Simply sign up and log in to start viewing and reviewing restaurants, cafes and pubs on how family friendly they are.
               Good kids menu? Tell us. Children's toys? Tell us. Space to park your buggy? Let us know!</h5>
            </div>
            <div class="card-action">
              <a class="white-text" href="/signup">Sign up</a>
              <a class="white-text" href="/login">Log in</a>
            </div>
          </div>
        </div>
      </div>




<%# <div class="container">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.891044761529!2d-0.07452048434790019!3d51.515214879636474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761cb6078166ad%3A0xa02c6b7806328464!2sGeneral+Assembly+London!5e0!3m2!1sen!2suk!4v1523883294487" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

</div> %>

<div class="row">
  <% if(messages.danger){ %>
    <div class="col s12 l12">
      <div class="card blue lighten-4">
        <div class="card-content blue-text">
          <span class="card-title"><%= messages.danger %></span>
        </div>
      </div>
    </div>
  <% } %>



<%# </div> %>
