<h1>THIS IS THE HOME.EJS PAGE</h1>



<div class="row">
  <% if(messages.danger){ %>
    <div class="col s12 l12">
      <div class="card blue lighten-4">
        <div class="card-content blue-text">
          <span class="card-title"><%= messages.danger %></span>
        </div>
      </div>
    </div>
  <% } %>
