<h1>This is the Log In Page</h1>
<form  action="/login" method="POST">
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email_field" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password_field" required>
  </div>
  <button class="button">Log In</button>
</form>
