


    <h2>Name <%= user.username %></h2>
    <h2>Email <%= user.email %></h2>


<% if (restaurant.user.id === (locals.currentUser && locals.currentUser.id)) { %>
    <div class="deleteButton">
      <form action="/users/<%= user.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn red">Delete Profile</button>
      </form>
    </div>
<% } %>
