

<h1>Restaurants</h1>

  <div class="row">
    <% restaurants.forEach(restaurant => { %>
      <div class="col s12 m6">
        <div class="card teal accent-3">
          <div class="card-content white-text">
            <span class="card-title"> <%= restaurant.name %></span>
              <div class="card-image">
                <img src="<%= restaurant.imageURL %>">
              </div>
              <div class="card-action">
                <a href="/restaurants/<%= restaurant.id %>" class="white-text">See the reviews</a>
              </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
